/* ===== Topbar Wrapper ===== */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;   /* important */
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 1000;
}


/* ===== Left Section ===== */
.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 22px;
}
.school-name {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}

/* ===== Right Section ===== */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* ===== User Info ===== */
.user-info {
  text-align: right;
  line-height: 1.2;
}

.user-info strong {
  display: block;
  font-size: 14px;
  color: #111827;
}

.user-info span {
  font-size: 12px;
  color: #6b7280;
}

/* ===== Logout Button ===== */
.logout-btn {
  color: #ef4444;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s;
}

.logout-btn:hover {
  color: #b91c1c;
}
