body{ background:#f5f7fb; font-family:Segoe UI; }

.main{
  margin-left:240px;
  padding:96px 32px;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.btn{
  background:#2563eb;
  color:#fff;
  padding:10px 18px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.table-card{
  background:#fff;
  border-radius:12px;
  padding:20px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  padding:12px;
  text-align:left;
  border-bottom:1px solid #eee;
}

th{
  background:#f1f5f9;
  font-size:14px;
}

.delete-btn{
  color:red;
  text-decoration:none;
  font-weight:600;
}

/* Modal */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:#fff;
  width:600px;
  padding:20px;
  border-radius:12px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.grid input{
  width:100%;
  padding:8px;
  border:1px solid #ccc;
  border-radius:6px;
}

.actions{
  display:flex;
  justify-content:flex-end;
  gap:10px;
  margin-top:15px;
}

.primary{
  background:#2563eb;
  color:white;
  padding:8px 15px;
  border:none;
  border-radius:6px;
}
.edit-btn{
  background:#2563eb;
  color:#fff;
  border:none;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
  margin-right:6px;
}

.edit-btn:hover{
  background:#1d4ed8;
}


@media(max-width:768px){
  .main{ margin-left:0; padding:90px 15px; }
  .modal-box{ width:90%; }
}