*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', sans-serif;
}

body{
  background:#f5f7fb;
}

/* ===== Main ===== */
.main{
  margin-left:240px;
  padding:96px 32px 32px;
}

.page-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.page-header h1{
  font-size:26px;
}

.page-header p{
  color:#64748b;
}

/* ===== Buttons ===== */
.btn-primary{
  background:#2563eb;
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.btn-primary:hover{
  background:#1e40af;
}

.btn-outline{
  padding:8px 15px;
  border-radius:8px;
  border:1px solid #ccc;
  background:#fff;
  cursor:pointer;
}

/* ===== Notice Card ===== */
.notice-card{
  background:#fff;
  padding:20px;
  border-radius:12px;
  margin-bottom:18px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.notice-top{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.badge{
  padding:5px 12px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

/* Category Colors */
.badge-event{ background:#e9d5ff; color:#7c3aed; }
.badge-exam{ background:#fee2e2; color:#dc2626; }
.badge-meeting{ background:#dbeafe; color:#2563eb; }
.badge-holiday{ background:#dcfce7; color:#16a34a; }
.badge-acadamic{ background:#acaaaf; color:#120352; }
.badge-fees{ background:#c26f9c; color:#7c1348; }


.date{
  font-size:13px;
  color:#555;
  margin-top:10px;
}

/* ===== Action Buttons ===== */
.action-btns{
  display:flex;
  gap:10px;
}

.edit-btn{
  background:#e0f2fe;
  color:#0284c7;
  padding:5px 12px;
  border-radius:6px;
  text-decoration:none;
  font-size:13px;
  font-weight:600;
}

.delete-btn{
  background:#fee2e2;
  color:#dc2626;
  padding:5px 12px;
  border-radius:6px;
  text-decoration:none;
  font-size:13px;
  font-weight:600;
}
/* ===== Modal ===== */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:#fff;
  width:450px;
  border-radius:12px;
  padding:22px;
}

.modal-content input,
.modal-content textarea,
.modal-content select{
  width:100%;
  padding:10px;
  margin-top:6px;
  border:1px solid #ccc;
  border-radius:8px;
}

.modal-content textarea{
  resize:none;
  height:90px;
}

.row{
  display:flex;
  gap:15px;
}

.row > div{
  flex:1;
}

.modal-footer{
  display:flex;
  justify-content:flex-end;
  gap:10px;
  margin-top:18px;
}

@media(max-width:768px){
  .main{
    margin-left:0;
    padding:90px 18px;
  }

  .modal-content{
    width:90%;
  }
}