/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body {
    min-height: 100vh;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main container */
.container {
    width: 420px;
    background: #ffffff;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}
.logo {
    font-size: 28px;
    font-weight: 600;
    color: #1e40ff;
    text-align: center;
    margin-bottom: 10px;
}
.logo span {
    color: #020617;
}

/* Heading */
.container h2 {
    text-align: center;
    font-size: 14px; 
    margin-bottom: 25px;
    color: rgb(57, 57, 131);
}

/* Labels */
.container label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #444;
}

/* Inputs & select */
.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container select {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border 0.3s, box-shadow 0.3s;
}

/* Focus effect */
.container input:focus,
.container select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
    outline: none;
}

/* Submit button */
.container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.container input[type="submit"]:hover {
    background: #357ab8;
    transform: translateY(-2px);
}

/* Success message */
.success {
    background: #e8f5e9;
    color: #2e7d32;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
}

/* Error message */
.error {
    background: #fdecea;
    color: #c62828;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
}

/* Logout link */
.container a {
    display: block;
    text-align: center;
    margin-top: 18px;
    text-decoration: none;
    color: #e53935;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}


/* Responsive */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 25px;
    }
}
